body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color:#555;
    font-size: 16px;
    line-height: 1.6em;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

#navbar{
    margin-top: 10px;
    background-color: #333;
}

#navbar ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

#navbar li{
    display: inline;
    margin-right: 20px;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    min-height: 300px;
    background: url('../img/showcase.jpg') no-repeat center;
    text-align: center;
    background-size: cover;
    margin-bottom: 30px;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: #555;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    padding:0 30px;
    background: #fff;
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    clear: both;
}

@media(max-width: 600px){
    #main, #sidebar{
        width: 100%;
        float: none;
    }
}